.wrapper {
    background-color: #1b1b1b;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-size: cover;
    display: flex;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}

.inner {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    padding: 60px 0;
    font-size: 23px;
    width: 100%;
    color: rgb(255, 255, 255);
}

.title {
    color: white;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; 
    padding: 15px;
    border-radius: 5px;
}

.icon {
    font-size: 32px; 
    transition: transform 0.3s ease; 
    background-color: white;
    border-radius: 50%; 
    width: 40px;
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.answer {
    color: white;
    font-size: 18px;
    overflow: hidden;
    padding: 0 15px;
    transition: height 0.3s ease; 
}
.quastion{
    width: 80%;
    color: white;
    font-size: 22px;
}
.divider {
    height: 1px; 
    background-color: white; 
    margin: 10px 0; 
}