.wrapper {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-size: cover;
    display: flex;
    background-color: #1b1b1b; 
    padding: 60px 0; 
}

.inner {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 5px; 
    text-align: center; 
}

.title {
    width: 100%; 
    color: white; 
    font-size: 32px; 
    margin-bottom: 20px; 
}

.awardBlock {
    background-color: white; 
    color: black; 
    height: auto;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    transition: background-color 0.3s; 
}

.awardBlock:hover {
    background-color: #313131; 
    color: white;
}
