.headerWrapper {
  font-family: 'Montserrat', sans-serif;
  height: 80px;
  display: flex;
  position: fixed;
  z-index: 999;
  width: 100%;
  transition: all 0.3s;
  background-color: transparent;
}

.scrolled {
  background-color: #151b28;
}

.inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  img {
    width: 65px;
    height: 65px;
  }
}

.headerItems {
  display: flex;
  gap: 15px;
  transition: 0,3s;
  align-items: center;
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  position: relative;
  z-index: 1001; /* чтобы кнопка оставалась на виду */
  width: 30px;
  height: 30px;
  padding: 0;
  @media screen and (min-width: 993px) {
    display: none;
  }
}

.menuIcon {
  position: relative;
  width: 34px;
  height: 3px;
  left: 15px;
  background-color: white;
  transition: all 0.3s;
}

.menuButton.active .menuIcon {
  background-color: transparent; /* Скрыть центральную палочку */
}

.menuIcon::before,
.menuIcon::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s;
}

.menuIcon::before {
  top: -8px;
  right:0.5px;
}

.menuIcon::after {
  bottom: -8px;
  right: 0.5px;
}

.menuButton.active .menuIcon::before {
  opacity: 0;
  transform: rotate(45deg);
  top: 0;
}

.menuButton.active .menuIcon::after {
  transform: rotate(-45deg);
  opacity: 0;
  bottom: 0;
}

.headerItem {
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  padding: 0 5px;
  height: 100%;
  align-items: center;
  display: flex;
  color: white;
  transition: 0.3s;
  &:hover {
    color: #fc8252;
  }
  @media screen and (max-width: 1200px) {
    font-size: 16px;
    padding: 0 4px;
  }
}
