.wrapper{
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 60px 0;
}

.title{
  font-size: 40px;
  font-weight: 600;
  color: #f1bc1e;
  margin: 0 0 40px 0;
  padding: 0 0 10px 0;
  border-bottom: 2px solid #EABB52FF;
  width: fit-content;
}

.description{
  font-size: 20px;
  color: black;
  width: 60%;
  margin: 0 0 40px 0;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

.photoWrapper{
  display: grid;
  grid-gap: 35px;
  grid-template-rows: repeat(9, 1fr); /* 8 строк */
  grid-template-columns: repeat(9, 1fr); /* 8 столбцов */
  height: 650px;
  width: 100%;
}

.photo{
  border-radius: 16px;
  border: 3px solid #f1bc1e;
  height: 100%;
  width: 100%;
}

.photo0 {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 4;
}
.photo1 {
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 7;
}
.photo2 {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 7;
  grid-column-end: 10;
}

.photo3 {
  grid-row-start: 5;
  grid-row-end: 10;
  grid-column-start: 1;
  grid-column-end: 4;
}
.photo4 {
  grid-row-start: 6;
  grid-row-end: 10;
  grid-column-start: 4;
  grid-column-end: 7;
}
.photo5 {
  grid-row-start: 5;
  grid-row-end: 10;
  grid-column-start: 7;
  grid-column-end: 10;
}

.slider{
  width: 100%;
  max-height: 500px;
  border-radius: 16px;
  box-shadow: white;
}

.sliderImage{
  height: 300px;
  object-fit: cover;
  width: 100%;
  border-radius: 16px;
}

