.body{
    background-color: #151b28;
    padding:50px;

}

.bodyWrapper{
    width: 100%;
    display: flex;
    @media screen and (max-width: 1220px) {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}
.wrapper{
    font-family: 'Montserrat', sans-serif;
    padding: 40px 0 20px 0;
    color: #FFFFFF;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 500px;
    overflow: hidden;
    display: flex;
    @media screen and (max-width: 1220px) {
        height: auto;
    }
}


b{
    color: #fc8252;
}

.text{
    font-size: 23px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
}

.title{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    gap: 5px;
    color: white;
    margin-bottom: 20px;

}

.first{
    width: 45%;
    padding: 20px;
    max-height: 500px;
    align-items: center;
}
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: calc((100% - 30px) / 2) !important;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: calc((100% - 30px) / 2) !important;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .photo{
    height: 350px;
    object-fit: cover;
    @media screen and (max-width: 1030) {
        height: auto;
    }
  }