.wrapper {
  background-color: #1b1b1b;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.introText {
  color: white; // Цвет текста
  font-size: 24px; // Размер шрифта
  text-align: center; // Выравнивание по центру
  margin-bottom: 40px; // Отступ снизу
}

.description {
  font-size: 23px;
  color: white;
  margin: 0 0 40px 0;
  b {
    color: white;
  }
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 20px; 
}

.tile {
  background-color: #313131; 
  border: white solid 1px;
  padding: 20px; 
  flex: 1; 
  transition: 0.5s; 
  
}

.title {
  height: 80px;
  font-size: 24px; 
  text-align: center;
  font-weight: 700;
  color: #FFF;
  width: 100%;
  b {
    color: white;
  }
  @media screen and (max-width: 920px) {
    margin: 40px auto 20px auto;
  }
}

.tile:hover {
  background-color: white;
  border: black solid 1px;
}

.tile:hover .description {
  color: black;
}

.tile:hover .title {
  color: black;
}

.description {
  font-size: 16px; 
  color: #ffffff; 
}

.outroText{
  color: white; // Цвет текста
  font-size: 24px; // Размер шрифта
  text-align: center; // Выравнивание по центру
  margin-top: 40px; // Отступ снизу
}